<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>

    <h2> Страница не найдена</h2>
    <button class="test">@Html.ActionLink("Вернутся на главную страницу", "University", "Courses")  </button>
</body>
</html>
